<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
	layout:decorate="~{plantilla/plantillaPrincipal}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
	<div layout:fragment="content">
		<section class="content-header">

			<!-- /.container-fluid -->
		</section>
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">

					<div class="col-sm-6"></div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>
		<div class="container-fluid">


			<div class="container">

				<div class="row">

					<h1 class="display-1">PEDIDOS TEAM CERCA DE TI</h1>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="card">
							<div class="card-body">
								<h1>This is some text within a card body.</h1>
								<h2 class="text-info">This text represents some
									information.</h2>

							</div>
						</div>
					</div>

					<div class="col-2"></div>

					<div class="col-6">
						<img
							src="https://peru21.pe/resizer/1lx8oHNwe3QcjlktsPOrXRX_8Gs=/580x330/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/JXLZWFEANRARHCXDVTTMMEJ7OM.jpeg"
							class="rounded float-end" alt="...">
					</div>
				</div>

				<div class="row">
					<div class="col-8">col-8</div>
					<div class="col-4">col-4</div>
				</div>


				<div class="row">
					<img
						src="https://static.vecteezy.com/system/resources/previews/009/568/263/non_2x/bicycle-delivery-ordering-service-banner-design-concept-fast-bike-shipping-courier-with-backpack-and-geotag-gps-location-pin-on-inscription-and-city-food-and-goods-online-safe-order-eps-vector.jpg"
						class="rounded fixed-bottom" width="100%" height="200" style="" alt="...">
				</div>
			</div>



		</div>

	</div>

</body>
</html>

